[submodule "awesome/sharedtags"]
	path = awesome/sharedtags
	url = git@github.com:Drauthius/awesome-sharedtags.git
[submodule "polybar/scripts/i3windows"]
	path = polybar/scripts/i3windows
	url = git@github.com:rakanalh/polybar-i3-windows.git
[submodule ".config/polybar/scripts/i3windows"]
	path = .config/polybar/scripts/i3windows
	url = git@github.com:rakanalh/polybar-i3-windows.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
