URxvt.iso14755 : false
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.termName: rxvt-unicode-256color
URxvt.font: xft:Hack:style=Book:antialias=true:size=12, \
            xft:WenQuanYi Bitmap Song:size=12, \
            xft:unifont:style=Medium:antialias=false, \
            xft:FreeSerif:style=Regular
URxvt*background: #151718
URxvt*foreground: #d6d6d6
URxvt*cursorColor: #d6d6d6
URxvt.perl-ext-common:  default,clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #F8F8F2
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #CAA9FA
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

Xcursor.size: 16W
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.depth: 24
URxvt.matcher.button: 1

Emacs.FontBackend: xft,x
Emacs.font: Hack-12