URxvt.iso14755 : false
Xft.dpi: 72
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.termName: rxvt-unicode-256color
URxvt.font: xft:Hack:style=Book:antialias=true:size=12, \
            xft:Monofur Nerd Font Mono:style=Book:pixelsize=12, \
            xft:WenQuanYi Bitmap Song:size=12, \
            xft:unifont:style=Medium:antialias=false, \
            xft:FreeSerif:style=Regular
URxvt*background: #151718
URxvt*foreground: #d6d6d6
URxvt*cursorColor: #d6d6d6
URxvt.perl-ext-common:  default,clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*letterSpace: -1
URxvt.geometry: 130x40
URxvt*scrollBar: false
URxvt.depth: 32
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.matcher.button: 1

*.foreground: #ccb18b
*.cursorcolor:#ccb18b
*.colorbd:    #6699cc
*.colorul:    #ccb18b
*.colorit:    #ccb18b
*background:  #2d2d31
*color0:      #1a1a1a
*color1:      #cc6666
*color2:      #66aa66
*color3:      #f0c674
*color4:      #557799
*color5:      #a374a8
*color6:      #339999
*color7:      #eee8d5
*color8:      #4d4d4d
*color9:      #dd7777
*color10:     #77bb77
*color11:     #f2d785
*color12:     #5588bb
*color13:     #b485b9
*color14:     #2fa7a7
*color15:     #fdf6e3

Xcursor.size: 16W

! Emacs.FontBackend: xft,x
! Emacs.font: Hack-12
